body {
  padding-bottom: 0;
  font-family: 'Open Sans', Arial, Verdana, Geneva, Tahoma, sans-serif;
  color: #363636;
  background: grey;
  font-size: 16px; }

h2 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
  font-size: 1.5em; }

.row {
  margin-bottom: 20px; }

.primary, strong, h2 {
  color: #3b5a76; }

.container-main {
  background: whitesmoke;
  margin-top: 80px;
  padding: 0 30px 30px 30px;
  border-radius: 50px; }

header {
  min-height: 100px;
  overflow: auto; }
  header h1 {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center; }

.profile-img {
  width: 25%;
  display: block;
  margin: auto;
  margin-top: -80; }

.line {
  max-width: 100%; }

.contact-list {
  padding: 0;
  margin: 0; }
  .contact-list li {
    list-style: none;
    font-weight: bold;
    line-height: 3.2em; }
    .contact-list li img {
      height: 100%;
      width: 30px; }
  .contact-list span {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0.1em;
    margin-left: 37px;
    font-size: 15px;
    color: lightgrey; }

.media {
  background: grey;
  padding: 10px; }

.recentWork h2 {
  text-align: center; }
.recentWork img {
  height: 100%;
  width: 100%; }
.recentWork h4 {
  text-align: center; }

footer {
  background-color: #3b5a76;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }
