body {
  padding-top: 50px; }

.nav li img {
  height: 35px;
  padding-bottom: 5px; }

.jumbotron img {
  text-align: center; }

.row {
  clear: both; }

footer {
  padding-top: 100px; }
  footer .footerContent {
    background-color: whitesmoke; }
