body {
  padding-top: 50px;
}
.container{
}

.nav{
  li{
    img{
      height: 35px;
      padding-bottom: 5px;
    }
  }
}

.jumbotron{
    img{
      text-align: center;
    }
    h1 p{
      }
}

.row{
  clear: both;
}